<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Alterar Nome</title>
    </head>
    <body>
<h1><span style="color: #000000; background-color: #cc99ff;"><strong>MagicChords</strong></span><strong style="font-size: 14px;"><img src="https://cdn.pixabay.com/photo/2016/03/26/01/17/treble-clef-1279909_640.png" alt="logo" width="28" height="41" /></strong></h1>
<div>
<p><strong>Alterar Nome</strong></p>
<form action="cadastra" method="POST">
<div><label for="nome">Insira seu novo nome</label> <input id="novo_nome" name="novo_nome" type="text" placeholder="Digite sua nova senha ." /></div>
<p><br /><a href="Configuracoes">Configura&ccedil;&otilde;es</a></p>
</div>

</body>
</html>
