<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Alterar senha</title>
    </head>
    <body>
<h1><span style="color: #000000; background-color: #cc99ff;"><strong style="font-size: 14px;"><img src="https://cdn.pixabay.com/photo/2016/03/26/01/17/treble-clef-1279909_640.png" alt="logo" width="28" height="41" /></strong></h1>
<div>

  
<p><strong>Alterar Senha</strong></p>
<form action="/configuracao/altera_senha" method="POST">
<div><label for="senha">Senha Atual:</label> <input id="senha" name="senha" type="password" placeholder="Digite sua nova senha ." /></div>
<div><label for="nova_senha">Nova Senha:</label> <input id="nova_senha" name="nova_senha" type="password" placeholder="Digite sua nova senha ." /></div>
<div><label for="nova_senha2">Confirmar Senha:</label> <input id="nova_senha2" name="nova_senha2" type="password" placeholder="Confirmar senha." /></div>
<input name="enviar" type="submit" value="Confirmar" /></form> <input name="limpar" type="reset" value="Limpar" /></form>
<p><br /><a href="configuracao">Configurações</a></p>
</div>

</body>
</html>
