<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Configuracoes</title>
    </head>
    <body>
<h1><span style="color: #000000; background-color: #cc99ff;"><strong>Configura&ccedil;&otilde;es <img src="https://cdn-icons-png.flaticon.com/512/45/45493.png" alt="configuracoes" width="26" height="27" /></strong></span></h1>
<p><a href="altera_n">Alterar Nome</a> 
<br /><a href="Alterar foto">Alterar foto</a></p>
<p>&nbsp;</p>
<p><strong>Seguran&ccedil;a</strong></p>
<p><a href="altera_s">Alterar Senha</a></p>
<p>Seu E-mail: {{ email }}</p>
<p>&nbsp;</p>
<p><strong>Ajuda</strong></p>
<p>Entre em contato conosco</p>

</body>
</html>
