<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Conversao Música</title>
    </head>
<body>
<div>
  
</div>
<h1><span style="color: #000000; background-color: #cc99ff;"><strong>&nbsp;<img src="https://cdn-icons-png.flaticon.com/512/1361/1361728.png" alt="perfil" width="26" height="26" />{{ nome}}&nbsp;</strong></span></h1>
<p>saldo: {{saldo}}</p>
<p>Cifras: </p>
<p>{{cifras}}</p>
<p><a href="configuracao">Configura&ccedil;&otilde;es</a></p>
<p><a href="conversao_cifra">Adicionar nova cifra</a></p>
<p><a href="inicio">Voltar</a> </p>

</body>

</html>
