<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Cadastro de Cliente</title>
    </head>
<body>

<h1><span style="color: #000000; background-color: #cc99ff;">
    <strong>MagicChords</strong></span><strong style="font-size: 14px;"><img src="https://cdn.pixabay.com/photo/2016/03/26/01/17/treble-clef-1279909_640.png" alt="logo" width="28" height="41" /></strong></h1>

<form action="autentica" method="POST">
<div><label for="email">Senha:</label> <input id="nova_senha" name="nova_senha" type="password" placeholder="Digite sua nova senha ." /></div>
<div><label for="senha">Confirmar Senha:</label> <input id="nova_senha" name="aqui" type="password" placeholder="Confirmar senha." /></div>
<input name="enviar" type="submit" value="Autenticar" /> <input name="limpar" type="reset" value="Limpar" /></form>

<br /><a href="index">Tela de Login</a></p>

</body>

</html>
