<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Esqueceu Senha</title>
    </head>
<body>

<h1><span style="color: #000000; background-color: #cc99ff;">
    <strong>MagicChords</strong></span><strong style="font-size: 14px;"><img src="https://cdn.pixabay.com/photo/2016/03/26/01/17/treble-clef-1279909_640.png" alt="logo" width="28" height="41" /></strong></h1>

<form action="nova" method="POST">

<div><label for="email">Email:</label> <input id="email" name="email" type="text" placeholder="Digite seu email ." /></div>
<div><label for="senha">Nova senha:</label> <input id="nova_senha" name="nova_senha" type="password" placeholder="Digite sua nova senha ." /></div>
<div><label for="senha2">Confirmar Senha:</label> <input id="nova_senha2" name="nova_senha2" type="password" placeholder="Confirmar senha." /></div>
<input name="enviar" type="submit" value="Autenticar" /> <input name="limpar" type="reset" value="Limpar" /></form>
        <a href="index">Tela de login</a>

</body>

</html>
