<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Tela de Login</title>
</head>

<body>

<h1><span style="color: #000000; background-color: #cc99ff;">
    <strong>MagicChords</strong></span><strong style="font-size: 14px;"><img src="https://cdn.pixabay.com/photo/2016/03/26/01/17/treble-clef-1279909_640.png" alt="logo" width="28" height="41" /></strong></h1>

<p><em>Seja Bem Vindo!!!</em></p>

<form action="autentica" method="POST">
<div><label for="email">Email:</label> <input id="email" name="email" type="text" placeholder="Digite o seu Email aqui." /></div>
<div><label for="senha">Senha:</label> <input id="senha" name="senha" type="password" placeholder="Digite a sua Senha aqui." /></div>
<input name="enviar" type="submit" value="Autenticar" /> <input name="limpar" type="reset" value="Limpar" /></form>

<p><br /><a href="Esqueceu Senha">Esqueceu Senha?</a>
<br /><a href="Tela de Cadastro">Criar Conta</a></p>

</body>
</html>
