<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Cadastro de Cliente</title>
    </head>
    <body>
<h1><span style="color: #000000; background-color: #cc99ff;"><strong>MagicChords</strong></span></h1>

<p><strong>Criar conta</strong></p>

<form action="cadastra" method="POST">
<div><label for="nome">Nome:</label> <input id="nome" name="nome" type="text" placeholder="Digite o seu Nome aqui." /></div>
<div><label for="cpf">Data de Nascimento:</label> <input id="cpf" name="cpf" type="text" placeholder="Digite sua data de nascimento" /></div>
<div><label for="email">E-mail:</label> <input id="email" name="email" type="text" placeholder="Digite o seu E-mail aqui." /></div>
<div><label for="usuario">Usu&aacute;rio:</label> <input id="usuario" name="usuario" type="text" placeholder="Digite o seu Usu&aacute;rio aqui." /></div>
<div><label for="senha">Senha:</label> <input id="senha" name="senha" type="password" placeholder="Digite a sua Senha aqui." /></div>
<div><label for="senha">Confirmar senha:</label> <input id="senha" name="senha" type="password" placeholder="Digite a sua Senha aqui." /></div>
<input name="enviar" type="submit" value="Vamos l&aacute;!" /></form>
<p><br /><a href="index">P&aacute;gina Inicial</a></p>

    </body>
</html>
